 
 <app-header></app-header>
 
 <div class="page-wrapper">
 <app-steps></app-steps>
 

<div class="pricing-page">
    <div class="overlay"></div>
  <div class="container">
     <div class="row">
        <div class="meals col-md-8 offset-md-2 col-sm-12">
           <div class="pricing-box">
              <span class="meal-title">Review your program</span>
              
              <div class="row">
                <div class="col-md-12">
                  <div class="review-box">
                    <div class="row">
                    <div class="col-md-11">
                      <h3>Plan</h3>
                      <p>2 Weeks program</p>
                    </div>
                    <div class="col-md-1">
                      <a href="#">edit</a>
                    </div>
                  </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="review-box">
                    <div class="row">
                      <div class="col-md-11">
                        <h3>Meals</h3>
                        <p>Breakfast + Lunck + Dinner</p>
                      </div>
                      <div class="col-md-1">
                        <a href="#">edit</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="review-box">
                      <div class="row">
                      <div class="col-md-11">
                          <h3>Schedule</h3>
                          <p>Start Date: Day, Month date</p>
                          <p>Delivery: Day, Month date to Day, Month date</p>
                        </div>
                        <div class="col-md-1">
                          <a href="#">edit</a>
                        </div>
                      </div>
                      </div>
                </div>
              </div>
              

              <div class="pricing-btn">
                <a routerLink="/order/login" class="btn theme-btn">
                  <span>Checkout</span>
                  <span>AED XXX</span>
                </a>
              </div>
           </div>
           
        </div>
      
     </div>
     
  </div>
  <!-- end:Container -->
</div>

<app-footer></app-footer>

</div>