 
 <app-header></app-header>
 
 <div class="page-wrapper">
 <app-steps></app-steps>
 
 
<div class="pricing-page">
  <div class="overlay"></div>
  <div class="container">
     <div class="row">
        <div class="meals col-md-8 offset-md-2 col-sm-12">
           <div class="pricing-box">
              <span class="meal-title">Meal Plan</span>
              <h3>YOU WILL RECEIVE 5 DAYS OF BREAKFAST, LUNCH, & DINNER</h3>
              <div class="input-container">
                <div class="row">
                  <div class="inputGroup col-md-4">
                    <input id="option1" name="option1" type="checkbox" checked/>
                    <label for="option1">Breakfast</label>
                  </div>
                  
                  <div class="inputGroup col-md-4">
                    <input id="option2" name="option2" type="checkbox" checked/>
                    <label for="option2">Lunch</label>
                  </div>

                  <div class="inputGroup col-md-4">
                      <input id="option3" name="option2" type="checkbox" checked/>
                      <label for="option3">Dinner</label>
                  </div>
                </div> 
              </div>
              



              <div class="">
                  <label class="custom-control custom-radio">
                    <input id="radio1" name="radio" type="radio" class="custom-control-input" checked="">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">2 Weeks</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input id="radio2" name="radio" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">1 Month</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input id="radio2" name="radio" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">3 Month</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input id="radio2" name="radio" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">6 Month</span>
                  </label>
              </div>

              <div class="pricing-btn">
                <a routerLink="/calendar" class="btn theme-btn">
                  <span>Continue</span>
                  <span>AED XXX</span>
                </a>
              </div>
           </div>
           
        </div>
      
     </div>

  </div>
  <!-- end:Container -->
</div>

<app-footer></app-footer>

</div>