input{ border-radius:0 !important; }
.datalist-input {
    width: 100%;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    height: auto !important; opacity: 1 !important;
  }
  
.meal-form{    background-color: rgba(25,25,25,.6);
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 55px; display: inline-block;
}