<!-- top Links -->
<div class="top-links">
    <div class="container">
       <ul class="row links">
          <li class="col-xs-12 col-sm-4 link-item active"><span>1</span><a routerLink="/">Choose Your Location</a></li>
          <li class="col-xs-12 col-sm-4 link-item active"><span>2</span><a routerLink="/meals">Select your meal</a></li>
          <li class="col-xs-12 col-sm-4 link-item active"><span>3</span><a href="/order/checkout">Order and Pay online</a></li>
       </ul>
    </div>
 </div>