<!-- add restaurant starts -->
<section class="add-restaurants">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 add-title">
                <h4>GET OUR NEWSLETTER</h4> </div>
            <div class="col-xs-12 col-sm-5 join-text">
                <p>Sign up for getting weekly special meals </p>
            </div>
            <div class="col-xs-12 col-sm-4 join-btn text-xs-right"><a href="#" class="btn theme-btn btn-lg">Sign up</a> </div>
        </div>
    </div>
</section>
<!-- add restaurant ends -->