 
 <app-header></app-header>
 
 <div class="page-wrapper">
 <app-steps></app-steps>
 

<div class="pricing-page">
    <div class="overlay"></div>
  <div class="container">
     <div class="row">
        <div class="meals col-md-8 offset-md-2 col-sm-12">
           <div class="pricing-box">
              <h3>YOUR PROGRAM IS SET TO START THE WEEK OF: </h3>
              <p>Change start week below</p>
              <div class="week-picker"></div>
              <br />
              <label>Week :</label> <span id="startDate"></span> - <span id="endDate"></span>

              <div class="pricing-btn">
                  <a routerLink="/order/review" class="btn theme-btn">
                    <span>Continue</span>
                    <span>AED XXX</span>
                  </a>
                </div>
           </div>
           
        </div>
      
     </div>
     <!-- end:row
     <div class="row pricing-faq m-t-30">
        <div class="col-md-5 offset-md-1 col-sm-6" data-cloneable="">
           <div>
              <h3>What is a account?</h3>
              <p>Yeah, I like animals better than people sometimes… Especially dogs. Dogs are the best. Every time you come home, they act </p>
           </div>
           <div>
              <h3>Is there any fee?</h3>
              <p>Like they haven’t seen you in a year. And the good thing about dogs… is they got different dogs for different people. Like pit bulls. The dog of dogs. Pit bull can be the right man’s best friend</p>
           </div>
           <div>
              <h3>What payment methods are accepted?</h3>
              <p>Phe wrong man’s worst enemy. You going to give me a dog for a pet, give me a pit bull. Give me… Raoul. Right, Omar? Give me Raoul.</p>
           </div>
        </div>
        <div class="col-md-5 col-sm-6" data-cloneable="">
           <div>
              <h3>Can I setup multiple brands in one account?</h3>
              <p>Like they haven’t seen you in a year. And the good thing about dogs.</p>
           </div>
           <div>
              <h3>Can I use Docs without the help desk?</h3>
              <p>You going to give me a dog for a pet, give me a pit bull. Give me… Raoul. Right, Omar? Give me Raoul.</p>
           </div>
           <div>
              <h3>What’s your support like?</h3>
              <p>Or the wrong man’s worst enemy. You going to give me a dog for a pet, give me a pit bull. Give me… Raoul. Right, Omar? Give me Raoul.</p>
           </div>
        </div>
     </div> -->
  </div>
  <!-- end:Container -->
</div>

<app-footer></app-footer>

</div>